{% extends 'base.html.twig' %}

{% block title %}
  Taunt.io - Les meilleures r&eacute;pliques de films
{% endblock %}

{% block body %}
<form action="{{ path('search') }}">
  
{{ form_widget(form)}}
</form>

<div id="wrapper">
  <div id="container">
    <h3 class="text-center">Les r&eacute;pliques les plus classes des films fran&ccedil;ais.</h3>
    <h3 class="text-center">En PHP, ma gueule.</h3>
  </div>
  <div id="results">
    {% if taunt is defined %}
    <div class="taunt text-center">
      <h2>#{{ taunt.title }}</h2>
      <p>&laquo; {{ taunt.quote }} &raquo;</p>
      <ul class="taunt-bottom">
        <li class="taunt-ref">{{ taunt.ref }}</li>
        <li class="taunt-share">
          <a data-js="twitter-share" class="share-button">
            <img src="{{ asset('twitter-white.svg') }}" alt="twitter" width="30px" height="30px" />
          </a>
          <a data-js="facebook-share" class="share-button">
            <img src="{{ asset('facebook-white.svg') }}" alt="facebook" width="30px" height="30px" />
          </a>
        </li>
      </ul>
    </div>
      <audio autoplay>
        <source src="{{ asset('uploads/taunts/'~ taunt.path) }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    {% endif %}
    <ul class="no-padding taunts-list">
      {% for taunt in taunts %}
        {{ include("default/_taunt.html.twig") }}
      {% endfor %}
    </ul>
  </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{% if taunt is defined %}
<script>
  var facebookShare = document.querySelector('[data-js="facebook-share"]');

  facebookShare.onclick = function(e) {
  e.preventDefault();
  var facebookWindow = window.open('http://www.facebook.com/sharer/sharer.php?u=https%3A//taunt.io/taunt/{{ taunt.id }}&title=Taunt', 'facebook-popup', 'height=350,width=600');
  if(facebookWindow.focus) { facebookWindow.focus(); }
    return false;
  }
  var twitterShare = document.querySelector('[data-js="twitter-share"]');

  twitterShare.onclick = function(e) {
    e.preventDefault();
    var twitterWindow = window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ftaunt.io&url=' + document.URL + '&hashtags=taunt&via=taunt_io&text={{ taunt.title }}%20%2D', 'twitter-popup', 'height=350,width=600');
    if(twitterWindow.focus) { twitterWindow.focus(); }
      return false;
    }
</script>
{% endif %}
{% endblock %}
